.Card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 20%;
    margin: auto;
}

.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cardImage{
    border-radius: 5px 5px 0 0;
    /* position: relative; */
}

.Container {
    padding: 2px 16px;
    width: 100%;
    text-align: left;
}

.Card h2 {
    font-size: 98px;
    /* float: right; */
    margin-right: 20px;
    color: #ffa500;
}

.Card p {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.836);
    height: 40px;
}