.Background {
    background-image: url("../../images/background.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    margin-top: 72px;
}

.Text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    height:74%;
    max-width: 40%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 0;
    text-align: center;
    height: 70%;
    font-size: 4em;
    color: #fff;
}

section {
    margin: auto;
    align-content: center;
    /* padding: 20px; */
}

span {
    display: flex;
    flex-direction: row;
}

.Icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Button {
    display: flex;
    justify-content: space-around;
}

.Cards {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

h4 {
    font-size: 2.5rem;
    margin-left: 2.5%;
}

.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffa500;
    margin: 4% 0;
}

.aboutImage {
    width: 60%;
    margin: auto;
    outline: none;
    padding-bottom: 2%;
}

