* {
  font-family: "Raleway", sans-serif;
  z-index: 2;
}

:root {
  --primary: #ffa500;
  --dark: #212121;
  --white: #ffffff;
  --light: #f1e8ff;
  --danger: #dc3545;
  --gray: #ccc;
  --transparent: transparent;
  --dark: #212121;
  --dark-cover: rgba(0, 0, 0, 0.9);
}

a {
  color: var(--primary);
}

.border {
  border: 1px sold #ccc;
}

.border-danger {
  border-color: var(--danger);
}

.bg-dark {
  background: var(--dark);
}

.bg-white {
  background: var(--white);
}

.btn {
  display: inline-block;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border-radius: 1rem;
}

.btn:hover {
  border: none;
  transform: scale(1.04);
}

.btn[disabled] {
  background: var(--gray) !important;
}

.btn.btn--primary {
  background: var(--primary);
  color: var(--white);
}

.btn.btn--primary-outline:hover {
  background: var(--primary);
  color: var(--white);
}

.btn.btn--primary-outline {
  border: 1px solid var(--primary);
  color: var(--primary);
  background: var(--transparent);
}

.btn.btn--primary-outline:hover {
  background: var(--primary);
  color: var(--white);
}

.container {
  padding: 5px 15px;
}

.container,
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}

.container.container--layout {
  padding: 80px;
}

.d-flex {
  display: flex;
}

.flex-sm {
  flex-direction: column;
}

.img-fluid {
  max-width: 100%;
}

.large {
  font-size: large;
}

.larger {
  font-size: larger;
}

.medium {
  font-size: medium;
}

.nav-item:last-child {
  margin-right: 0;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 3rem;
}

.small {
  font-size: small;
}

.smaller {
  font-size: smaller;
}

.text-primary {
  color: var(--primary);
}

.text-white {
  color: var(--white);
}

.text-center {
  text-align: center;
}

.x-large {
  font-size: x-large;
}

.x-small {
  font-size: x-small;
}

.xx-large {
  font-size: xx-large;
}

.xx-small {
  font-size: xx-small;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .flex-sm {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
